* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

p, span {
    font-size: 1.6rem;
}

.container {
    height: 100vh;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
}

.modals > .btn {
    margin: 0 15px 0 15px;
    opacity: 0.9;
}

.modal {
    width: 40%;
}

.btn:hover {
    transform: translateY(-3px) scale(1.02);
}

.input-field:not(:last-child) {
    margin-bottom: 40px;
}
